{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load static %}

<div class="card thumbnail">
  <a href="{{ item.url }}" class="nav-link">
    <div class="card-title">{{ item.name }}</div>
    <div class="card-icon">
      {% if 'fa-' in item.icon %}
        <span class="fa {{ item.icon }}"></span>
      {% else %}
        <img src="{% static 'theme/icons/' %}{{ item.icon }}.svg"/>
      {% endif %}
    </div>
    <div class="card-description">{{ item.short_description|default:'' }}</div>
  </a>
</div>
